.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: darkorchid;
  background-color: darkolivegreen;
  border-radius: 5px;
  padding: 15px;
}

.isDone {
  text-decoration: line-through;
}